* {
  margin: 0;
  padding: 0;
}

section {
  padding: 50px 6%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 20px 6%;
  align-items: center;
}

.navbar{
  display: flex;
  list-style: none;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #1e1e1e;
  padding: 10px;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-content: center;
}

.header-content {
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
}

.chotofont {
  font-size: 15px;
  color: #ffffff;
}

.borofont {
  font-size: 60px;
  font-weight: bold;
}

.header-content button {
  width: 25%;
  margin-left: 38%;
}

.common-button {
  margin: 0;
  padding: 10px 20px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.speaker {
  text-align: center;
  font-size: 60px;
  padding: 20px 0;
  margin-top: 80px;
}

.speakers-sec-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.speakers-sec-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section div img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;  /*Here I learned a exelent thing.VS code suggest me this line and it's actually worked */
}

section div h6 {
  color: #1d4ed8;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: 15px;
}

section div h2 {
  padding: 5px 0;
  margin-left: 15px;
}

section div p {
  color: #575757;
  padding: 5px 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Andrej{
    outline: 0.5px solid rgb(233, 232, 232);
    margin: 10px;
    border-radius: 10px;
}

.Demis{
    outline: 0.5px solid rgb(233, 232, 232);
    margin: 10px;
    border-radius: 10px;
}

.Gary{
    outline: 0.5px solid rgb(233, 232, 232);
    margin: 10px;
    border-radius: 10px;
}

.Mustafa{
    outline: 0.5px solid rgb(233, 232, 232);
    margin: 10px;
    border-radius: 10px;
}

.pricing-sec div p{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.spot{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.pricing-sec .card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-1 {
    padding: 30px;
    margin: 10px;
    gap: 20px;
    outline:  0.5px solid rgb(233, 232, 232);
    border-radius: 10px;
    
}

.card-2{
    padding: 30px;
    margin: 10px;
    gap: 20px;
    outline:  0.5px solid rgb(233, 232, 232);
    border-radius: 10px;
    
}

.card-3 {
    padding: 30px;
    margin: 10px;
    gap: 20px;
    outline:  0.5px solid rgb(233, 232, 232);
    border-radius: 10px;
    
}

.card-ul{
    display: grid;
    gap: 15px;
}

.pricing-sec .card-container .card-1 .card-2 .card-3 h5{
    padding: 10px 0px;
    
}

.pricing-sec .card-container .card-1 .card-2 .card-3 p{
    text-align: center;
    margin: 5px;
    padding-bottom: 20px;
}